@{
    ViewBag.Title = "Home Page";
}


@*
    <div class="w3-top">
        <div class="w3-row w3-large w3-light-grey">
            <div class="w3-col s3">
                <a href="#" class="w3-button w3-block">Home</a>
            </div>
            <div class="w3-col s3">
                <a href="#plans" class="w3-button w3-block">Plans</a>
            </div>
            <div class="w3-col s3">
                <a href="#about" class="w3-button w3-block">About</a>
            </div>
            <div class="w3-col s3">
                <a href="#contact" class="w3-button w3-block">Contact</a>
            </div>
        </div>
    </div>

    <div class="w3-content" style="max-width:1100px;margin-top:80px;margin-bottom:80px">


        <div class="w3-container">
            <div class="w3-display-container mySlides">
                <img src="https://online.vu.edu.au/sites/default/files/field/image/Easiest_countries_to_start_a_business_main_image.jpeg" style="max-width:1068px;height:500px">

            </div>
            <div class="w3-display-container mySlides">
                <img src="https://cloudinary.hbs.edu/hbsit/image/upload/s--EmT0lNtW--/f_auto,c_fill,h_375,w_750,/v20200101/6978C1C20B650473DD135E5352D37D55.jpg" style="width: 1068px; height: 500px ">

            </div>
            <div class="w3-display-container mySlides">
                <img src="https://www.ionos.com/digitalguide/fileadmin/DigitalGuide/Teaser/ebusiness.jpg" style="width: 1068px; height: 500px ">

            </div>

            <div class="w3-container w3-dark-grey w3-padding w3-xlarge">
                <div class="w3-left" onclick="plusDivs(-1)"><i class="fa fa-arrow-circle-left w3-hover-text-teal"></i></div>
                <div class="w3-right" onclick="plusDivs(1)"><i class="fa fa-arrow-circle-right w3-hover-text-teal"></i></div>

                <div class="w3-center">
                    <span class="w3-tag demodots w3-border w3-transparent w3-hover-white" onclick="currentDiv(1)"></span>
                    <span class="w3-tag demodots w3-border w3-transparent w3-hover-white" onclick="currentDiv(2)"></span>
                    <span class="w3-tag demodots w3-border w3-transparent w3-hover-white" onclick="currentDiv(3)"></span>
                </div>
            </div>
        </div>

        @if (User.Identity.IsAuthenticated)
        {
            <div>
                <ol>
                    <li> @HttpContext.Current.Session["id"].ToString()</li>
                    <li> @HttpContext.Current.Session["user_username"] </li>
                    <li> @HttpContext.Current.Session["user_stat"] </li>
                    <li> @HttpContext.Current.Session["user_phone"] </li>
                    <li> @HttpContext.Current.Session["user_rating"] </li>
                    <li> @HttpContext.Current.Session["user_name"] </li>
                    <li> @HttpContext.Current.Session["user_mail"] </li>
                </ol>

            </div>
        }

        <div class="w3-row w3-container">
            <div class="w3-center w3-padding-64">
                <span class="w3-xlarge w3-bottombar w3-border-dark-grey w3-padding-16">What We Offer</span>
            </div>
            <div class="w3-col l3 m6 w3-light-grey w3-container w3-padding-16">
                <h3>Design</h3>
                <p>Phasellus eget enim eu lectus faucibus vestibulum. Suspendisse sodales pellentesque elementum.</p>
            </div>

            <div class="w3-col l3 m6 w3-grey w3-container w3-padding-16">
                <h3>Branding</h3>
                <p>Phasellus eget enim eu lectus faucibus vestibulum. Suspendisse sodales pellentesque elementum.</p>
            </div>

            <div class="w3-col l3 m6 w3-dark-grey w3-container w3-padding-16">
                <h3>Consultation</h3>
                <p>Phasellus eget enim eu lectus faucibus vestibulum. Suspendisse sodales pellentesque elementum.</p>
            </div>

            <div class="w3-col l3 m6 w3-black w3-container w3-padding-16">
                <h3>Promises</h3>
                <p>Phasellus eget enim eu lectus faucibus vestibulum. Suspendisse sodales pellentesque elementum.</p>
            </div>
        </div>

        <div class="w3-row-padding" id="plans">
            <div class="w3-center w3-padding-64">
                <h3>Pricing Plans</h3>
                <p>Choose a pricing plan that fits your needs.</p>
            </div>

            <div class="w3-third w3-margin-bottom">
                <ul class="w3-ul w3-border w3-center w3-hover-shadow">
                    <li class="w3-black w3-xlarge w3-padding-32">Basic</li>
                    <li class="w3-padding-16"><b>10GB</b> Storage</li>
                    <li class="w3-padding-16"><b>10</b> Emails</li>
                    <li class="w3-padding-16"><b>10</b> Domains</li>
                    <li class="w3-padding-16"><b>Endless</b> Support</li>
                    <li class="w3-padding-16">
                        <h2 class="w3-wide">$ 10</h2>
                        <span class="w3-opacity">per month</span>
                    </li>
                    <li class="w3-light-grey w3-padding-24">
                        <button class="w3-button w3-green w3-padding-large">Sign Up</button>
                    </li>
                </ul>
            </div>

            <div class="w3-third w3-margin-bottom">
                <ul class="w3-ul w3-border w3-center w3-hover-shadow">
                    <li class="w3-dark-grey w3-xlarge w3-padding-32">Pro</li>
                    <li class="w3-padding-16"><b>25GB</b> Storage</li>
                    <li class="w3-padding-16"><b>25</b> Emails</li>
                    <li class="w3-padding-16"><b>25</b> Domains</li>
                    <li class="w3-padding-16"><b>Endless</b> Support</li>
                    <li class="w3-padding-16">
                        <h2 class="w3-wide">$ 25</h2>
                        <span class="w3-opacity">per month</span>
                    </li>
                    <li class="w3-light-grey w3-padding-24">
                        <button class="w3-button w3-green w3-padding-large">Sign Up</button>
                    </li>
                </ul>
            </div>

            <div class="w3-third w3-margin-bottom">
                <ul class="w3-ul w3-border w3-center w3-hover-shadow">
                    <li class="w3-black w3-xlarge w3-padding-32">Premium</li>
                    <li class="w3-padding-16"><b>50GB</b> Storage</li>
                    <li class="w3-padding-16"><b>50</b> Emails</li>
                    <li class="w3-padding-16"><b>50</b> Domains</li>
                    <li class="w3-padding-16"><b>Endless</b> Support</li>
                    <li class="w3-padding-16">
                        <h2 class="w3-wide">$ 50</h2>
                        <span class="w3-opacity">per month</span>
                    </li>
                    <li class="w3-light-grey w3-padding-24">
                        <button class="w3-button w3-green w3-padding-large">Sign Up</button>
                    </li>
                </ul>
            </div>
        </div>

        <div class="w3-row-padding" id="about">
            <div class="w3-center w3-padding-64">
                <span class="w3-xlarge w3-bottombar w3-border-dark-grey w3-padding-16">Who We Are</span>
            </div>

            <div class="w3-third w3-margin-bottom">
                <div class="w3-card-4">
                    <img src="/w3images/team1.jpg" alt="John" style="width:100%">
                    <div class="w3-container">
                        <h3>Jane Doe</h3>
                        <p class="w3-opacity">CEO & Founder</p>
                        <p>Phasellus eget enim eu lectus faucibus vestibulum. Suspendisse sodales pellentesque elementum.</p>
                        <p><button class="w3-button w3-light-grey w3-block">Contact</button></p>
                    </div>
                </div>
            </div>

            <div class="w3-third w3-margin-bottom">
                <div class="w3-card-4">
                    <img src="/w3images/team2.jpg" alt="Mike" style="width:100%">
                    <div class="w3-container">
                        <h3>Mike Ross</h3>
                        <p class="w3-opacity">Art Director</p>
                        <p>Phasellus eget enim eu lectus faucibus vestibulum. Suspendisse sodales pellentesque elementum.</p>
                        <p><button class="w3-button w3-light-grey w3-block">Contact</button></p>
                    </div>
                </div>
            </div>

            <div class="w3-third w3-margin-bottom">
                <div class="w3-card-4">
                    <img src="/w3images/team3.jpg" alt="Jane" style="width:100%">
                    <div class="w3-container">
                        <h3>John Doe</h3>
                        <p class="w3-opacity">Designer</p>
                        <p>Phasellus eget enim eu lectus faucibus vestibulum. Suspendisse sodales pellentesque elementum.</p>
                        <p><button class="w3-button w3-light-grey w3-block">Contact</button></p>
                    </div>
                </div>
            </div>
        </div>

        <div class="w3-center w3-padding-64" id="contact">
            <span class="w3-xlarge w3-bottombar w3-border-dark-grey w3-padding-16">Contact Us</span>
        </div>

        <form class="w3-container" action="/action_page.php" target="_blank">
            <div class="w3-section">
                <label>Name</label>
                <input class="w3-input w3-border w3-hover-border-black" style="width:100%;" type="text" name="Name" required>
            </div>
            <div class="w3-section">
                <label>Email</label>
                <input class="w3-input w3-border w3-hover-border-black" style="width:100%;" type="text" name="Email" required>
            </div>
            <div class="w3-section">
                <label>Subject</label>
                <input class="w3-input w3-border w3-hover-border-black" style="width:100%;" name="Subject" required>
            </div>
            <div class="w3-section">
                <label>Message</label>
                <input class="w3-input w3-border w3-hover-border-black" style="width:100%;" name="Message" required>
            </div>
            <button type="submit" class="w3-button w3-block w3-black">Send</button>
        </form>

    </div>






    <script>
        var slideIndex = 1;
        showDivs(slideIndex);

        function plusDivs(n) {
            showDivs(slideIndex += n);
        }

        function currentDiv(n) {
            showDivs(slideIndex = n);
        }

        function showDivs(n) {
            var i;
            var x = document.getElementsByClassName("mySlides");
            var dots = document.getElementsByClassName("demodots");
            if (n > x.length) { slideIndex = 1 }
            if (n < 1) { slideIndex = x.length };
            for (i = 0; i < x.length; i++) {
                x[i].style.display = "none";
            }
            for (i = 0; i < dots.length; i++) {
                dots[i].className = dots[i].className.replace(" w3-white", "");
            }
            x[slideIndex - 1].style.display = "block";
            dots[slideIndex - 1].className += " w3-white";
        }
    </script>*@



<!-- banner -->
<div class="jumbotron jumbotron-fluid" id="banner">
    <div class="container text-center text-md-left">
        <h1 data-aos="fade" data-aos-easing="linear" data-aos-duration="1000" data-aos-once="true" class="display-3 text-white font-weight-bold my-5">
            Build your Career <br>
            Jump start your Business
        </h1>
        <h4 data-aos="fade" data-aos-easing="linear" data-aos-duration="1000" data-aos-once="true" class="lead text-white my-4">
            Meet clients you’re excited to work with and take your career or business to new heights.
            <br>Work with the largest network of independent professionals and get things done—from quick turnarounds to big transformations.
        </h4>
        <a href="#" data-aos="fade" data-aos-easing="linear" data-aos-duration="1000" data-aos-once="true" class="btn my-4 font-weight-bold atlas-cta cta-green">Get Started</a>
    </div>
</div>
<!-- three-blcok -->
<div class="container my-5 py-2">
    <h2 class="text-center font-weight-bold my-5">Your local marketplace to get things done.</h2>
    <div class="row">
        <div data-aos="fade-up" data-aos-delay="0" data-aos-duration="1000" data-aos-once="true" class="col-md-4 text-center">
            <img src="~/Content/images/smart-protect-1.jpg" alt="Anti-spam" class="mx-auto">
            <h4>The best for every budget</h4>
            <p>Find high-quality services at every price point. No hourly rates, just project-based pricing.</p>
        </div>
        <div data-aos="fade-up" data-aos-delay="200" data-aos-duration="1000" data-aos-once="true" class="col-md-4 text-center">
            <img src="~/Content/images/smart-protect-2.jpg" alt="Phishing Detect" class="mx-auto">
            <h4>Hassle free quality work</h4>
            <p>Find the right freelancer to begin working on your project within minutes.</p>
        </div>
        <div data-aos="fade-up" data-aos-delay="400" data-aos-duration="1000" data-aos-once="true" class="col-md-4 text-center">
            <img src="~/Content/images/smart-protect-3.jpg" alt="Smart Scan" class="mx-auto">
            <h4>
                Find talent
                your way
            </h4>
            <p>Find great talent. Build your business. Take your career to the next level.
            </p>
        </div>
    </div>
</div>
<!-- feature (skew background) -->
<div class="jumbotron jumbotron-fluid feature" id="feature-first">
    <div class="container my-5">
        <div class="row justify-content-between text-center text-md-left">
            <div data-aos="fade-right" data-aos-duration="1000" data-aos-once="true" class="col-md-6">
                <h2 class="font-weight-bold">Take a look inside</h2>
                <h5 class="my-4">
                    Find opportunities for every stage of your freelance career
                    Control when, where, and how you work
                    <br>Explore different ways to earn
                </h5>
                <a href="#" class="btn my-4 font-weight-bold atlas-cta cta-blue">Learn More</a>
            </div>
            <div data-aos="fade-left" data-aos-duration="1000" data-aos-once="true" class="col-md-6 align-self-center">
                <img src="~/Content/images/feature-1.png" alt="Take a look inside" class="mx-auto d-block">
            </div>
        </div>
    </div>
</div>
<!-- feature (green background) -->
<div class="jumbotron jumbotron-fluid feature" id="feature-last">
    <div class="container">
        <div class="row justify-content-between text-center text-md-left">
            <div data-aos="fade-right" data-aos-duration="1000" data-aos-once="true" class="col-md-6 align-self-center flex-md-first">
                <img src="~/Content/images/feature-2.png" alt="Safe and reliable" class="mx-auto d-block">
            </div>
            <div data-aos="fade-left" data-aos-duration="1000" data-aos-once="true" class="col-md-6 flex-md-last">
                <h2 class="font-weight-bold">Safe and reliable</h2>
                <h5 class="my-4">
                    Our mission is to change how the world works together.
                    <br>  Connecting businesses with freelancers offering digital services
                </h5>
                <a href="#" class="btn my-4 font-weight-bold atlas-cta cta-blue">Learn More</a>
            </div>
        </div>
    </div>
</div>

<!-- price table
<div class="container my-5 py-2" id="price-table">
    <h2 class="text-center font-weight-bold d-block mb-3">Check our pricing</h2>
    <div class="row">
        <div data-aos="fade-right" data-aos-delay="200" data-aos-duration="1000" data-aos-once="true" class="col-md-4 text-center py-4 mt-5">
            <h4 class="my-4">STARTUP</h4>
            <p class="font-weight-bold">$ <span class="display-2 font-weight-bold">0</span> / MO.</p>
            <ul class="list-unstyled">
                <li>Up to 5 Documents</li>
                <li>Up to 3 Reviews</li>
                <li>5 team Members</li>
                <li>Limited Support</li>
            </ul>
            <a href="#" class="btn my-4 font-weight-bold atlas-cta cta-ghost">Get Free</a>
        </div>
        <div data-aos="fade-up" data-aos-duration="1000" data-aos-once="true" class="col-md-4 text-center py-4 mt-5 rounded" id="price-table__premium">
            <h4 class="my-4">PREMIUM</h4>
            <p class="font-weight-bold">$ <span class="display-2 font-weight-bold">10</span> / MO.</p>
            <ul class="list-unstyled">
                <li>Up to 15 Documents</li>
                <li>Up to 10 Reviews</li>
                <li>25 team Members</li>
                <li>Limited Support</li>
            </ul>
            <a href="#" class="btn my-4 font-weight-bold atlas-cta cta-green">Get Free</a>
        </div>
        <div data-aos="fade-left" data-aos-delay="200" data-aos-duration="1000" data-aos-once="true" class="col-md-4 text-center py-4 mt-5">
            <h4 class="my-4">PROFESSIONAL</h4>
            <p class="font-weight-bold">$ <span class="display-2 font-weight-bold">30</span> / MO.</p>
            <ul class="list-unstyled">
                <li>Unlimited Documents</li>
                <li>Unlimited Reviews</li>
                <li>Unlimited Members</li>
                <li>Unlimited Support</li>
            </ul>
            <a href="#" class="btn my-4 font-weight-bold atlas-cta cta-ghost">Get Free</a>
        </div>
    </div>
</div>
<!-- client
<div class="jumbotron jumbotron-fluid">
    <div class="container">
        <div class="row">
            <div class="col-sm-4 col-md-2 py-2 align-self-center">
                <img src="img/client-1.png" class="mx-auto d-block">
            </div>
            <div class="col-sm-4 col-md-2 py-2 align-self-center">
                <img src="img/client-2.png" class="mx-auto d-block">
            </div>
            <div class="col-sm-4 col-md-2 py-2 align-self-center">
                <img src="img/client-3.png" class="mx-auto d-block">
            </div>
            <div class="col-sm-4 col-md-2 py-2 align-self-center">
                <img src="img/client-4.png" class="mx-auto d-block">
            </div>
            <div class="col-sm-4 col-md-2 py-2 align-self-center">
                <img src="img/client-5.png" class="mx-auto d-block">
            </div>
            <div class="col-sm-4 col-md-2 py-2 align-self-center">
                <img src="img/client-6.png" class="mx-auto d-block">
            </div>
        </div>
    </div>
</div>-->
<!-- contact -->
<div class="jumbotron jumbotron-fluid" id="contact">
    <div class="container my-5">
        <div class="row justify-content-between">
            <div class="col-md-6 text-white">
                <h2 class="font-weight-bold">Contact Us</h2>
                <p class="my-4">
                    We’re your local
                    marketplace.
                    <br> Just one click away to explore new hights
                </p>
                <ul class="list-unstyled">
                    <li>Email : jobsforyou@gmail.com</li>
                    <li>Phone : 028-666-7777</li>
                    <li>Address : 303 Rampura, Dhaka-1219, Bangladesh</li>
                </ul>
            </div>
            <div class="col-md-6">
                <form>
                    <div class="row">
                        <div class="form-group col-md-6">
                            <label for="name">Your Name</label>
                            <input type="name" class="form-control" id="name">
                        </div>
                        <div class="form-group col-md-6">
                            <label for="Email">Your Email</label>
                            <input type="email" class="form-control" id="Email">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="message">Message</label>
                        <textarea class="form-control" id="message" rows="3"></textarea>
                    </div>
                    <button type="submit" class="btn font-weight-bold atlas-cta atlas-cta-wide cta-green my-3">Submit</button>
                </form>
            </div>
        </div>
    </div>
</div>

<!-- copyright -->


<!-- AOS -->
<script src="~/Scripts/aos.js"></script>
<script>
    AOS.init({
    });
</script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>


