@model Jobs4You.Models.Hire

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Hire</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Client.client_username)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Client.client_username)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Freelancer.freelancer_username)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Freelancer.freelancer_username)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.HireID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
