@model Jobs4You.Models.Skill

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Skill</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.skills)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.skills)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Freelancer.freelancer_username)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Freelancer.freelancer_username)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.skillID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
